@use 'variables' as v;
@use 'mixins' as m;

.home {
  @include m.flex-center;
  @include m.mobile {
    flex-direction: column;
  }
  .left-pane {
    @include m.mobile {
      width: 100vw;
    }
    width: 50vw;
    // height: calc(100vh - 64px);
    height: 100vh;
    @include m.flex-center;
    flex-direction: column;
    background-color: v.$black;
    color: v.$white;
    font-size: 1.25rem;
    a {
      color: v.$white;
    }
    a:link, a:hover, a:visited, a:active {
      text-decoration: none;
    }
    .coming-soon {
      color: v.$gray;
      letter-spacing: 10px;
      font-size: 1.25rem;
      padding-bottom: 150px;
      @include m.mobile {
        padding-bottom: 0;
      }
    }
    .icon-list {
      display:flex;
      justify-content: space-around;
      svg {
        padding: 0 10px;
        color: v.$gray;

      }
    }
    .compass-logo {
      height: 25px;
      margin-top: 75px;
    }
    .logo {
      height: 250px;
      margin-left: 70px;
      margin-bottom: 75px;
      @include m.mobile {
        height: 150px;
      }
    }
    .middle-section {
      @include m.flex-center;
      flex-direction: column;
      p {
        letter-spacing: 5px;
        margin-bottom: 0px;
        color: v.$gray;
      }
      .name {
        font-size: 1.75rem;
      }
      .realtor {
        font-size: 1.25rem;
      }
    }
    .info-section {
      @include m.flex-center;
      flex-direction: column;
      margin-top: 150px;
      p,a {
        font-family: v.$effra;
        margin: 5px;
        color: v.$gray;
      }
    }
  }
  .right-pane {
    @include m.mobile {
      width: 100vw;
    }
    width: 50vw;
    // height: calc(100vh - 64px);
    height: 100vh;
    img {
      height: 100vh;
    }
    background-color: v.$black;
  }
}