@use 'variables' as v;
@use 'mixins' as m;

.home {
  .cta {
    width: 100vw;
    height: 75vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  // background-position-y: -43vh;
    .background {
      width: 100vw;
      height: 100%;
      background-color: v.$oatmeal;
      background: url('https://res.cloudinary.com/dlaituqwq/image/upload/f_auto,q_auto/wr8plprsi0qxxs3lhmxr') no-repeat center center fixed;
      background-size: cover;
      filter: contrast(.7)
    }
    .contact-button {
      font-family: v.$brandon;
    }
    .subtext {
      font-size: 18px;
      letter-spacing: 2px;
      -webkit-text-stroke: 1px v.$black;

    }
    .text-box {
      background-color: white;
      padding:10px;
    }
    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction:column;
      background-color: rgba(250, 249, 246, .4);
      padding: 3em;
      position: absolute;
    }
  }
  .about {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: v.$offwhite;

    @include m.mobile {
      height: 100vh;
      flex-direction: column !important;
    }
    .about-image {
      padding: 60px;
      @include m.mobile {
        padding: 0;
      }
    }
    .about-text {
      font-family: v.$neue;
      font-size: 18px;
      line-height: 40px;
      margin-bottom: 20px;
      letter-spacing: 2px;
      @include m.mobile {
        font-size: 16px;
        line-height: 24px;
      }
    }
    .about-link {
      font-size: 18px;
      line-height: 40px;
      color: black;
      @include m.mobile {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    line-height: 2em;
    background-color:v.$white;
    @include m.mobile {
      flex-direction: column;
      height: 50vh;
    }
    .stat {
      font-size: 28px;
      text-align: center;
      p, span {
        font-family: v.$iskry;
      }
    }
  }
  .areas {
    height: 45vh;
    background-color: v.$sage;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include m.mobile {
      height: 60vh;
    }
    .arches {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 4em;
      @include m.mobile {
        flex-wrap: wrap;
        margin-top: unset;
      }
    }
    .title {
      font-size: 38px;
      font-family: v.$iskry;
      margin-bottom: 30px;
      @include m.mobile {
        font-size: 30px;
      }
    }
    .icon {
      margin: 0 4em;
      @include m.mobile {
        padding: 3em 0;
      }
    }
    img {
      @include m.mobile {
        width: 100px !important;
      }
    }
  }
  .fade-in-section:nth-child(1) {
    transition-delay: 150ms;
  }
  .fade-in-section:nth-child(2) {
    transition-delay: 300ms;
  }
  .fade-in-section:nth-child(3) {
    transition-delay: 450ms;
  }
  .fade-in-section:nth-child(4) {
    transition-delay: 600ms;
  }
  .testimonials {
    height: 60vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include m.mobile {
      height: fit-content;
    }
    .title {
      font-size: 38px;
      font-family: v.$iskry;
      margin-bottom: 30px;
      @include m.mobile {
        font-size: 30px;
        margin: 0;
      }
    }
    .carousel {
      width: 70vw;
      @include m.mobile {
        width: 100vw;
      }
      li {
        margin: auto;
      }
      .arrow i {
        position: absolute;
        z-index: 2;
        top: calc(50% - 15px);
        cursor: pointer;
        opacity: 50%;
        font-size:1.5em;
      }
      .right {
        right: 0px;
      }
      .left {
        left: 0px;
      }
    
    }
    .carousel-item {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .carousel-item-text {
      font-family: v.$neue;
      line-height: 40px;
      font-size: 18px;
      letter-spacing: 2px;
      padding: 0 3em;
      @include m.mobile {
        line-height: 30px;
        font-size: 16px;
        padding: 0 3em;
      }
    }
    .testimonials-link {
      color: v.$black;
      font-family: v.$neue;
      letter-spacing: 2px;
      font-size: 18px;
    }
  }
}
// .home {
//   @include m.flex-center;
//   @include m.mobile {
//     flex-direction: column;
//   }
//   .left-pane {
//     @include m.mobile {
//       width: 100vw;
//     }
//     width: 50vw;
//     // height: calc(100vh - 64px);
//     height: 100vh;
//     @include m.flex-center;
//     flex-direction: column;
//     background-color: v.$black;
//     color: v.$white;
//     font-size: 1.25rem;
//     a {
//       color: v.$white;
//     }
//     a:link, a:hover, a:visited, a:active {
//       text-decoration: none;
//     }
//     .coming-soon {
//       color: v.$gray;
//       letter-spacing: 10px;
//       font-size: 1.25rem;
//       padding-bottom: 150px;
//       @include m.mobile {
//         padding-bottom: 0;
//       }
//     }
//     .icon-list {
//       display:flex;
//       justify-content: space-around;
//       svg {
//         color: v.$gray;
//         padding: 0 10px;
//         width: 50px;
//         height: 50px;
//       }
//     }
//     .compass-logo {
//       height: 25px;
//       margin-top: 75px;
//     }
//     .logo {
//       height: 250px;
//       margin-left: 70px;
//       margin-bottom: 75px;
//       @include m.mobile {
//         height: 150px;
//         margin: 30px 0 30px 40px;
//       }
//     }
//     .middle-section {
//       @include m.flex-center;
//       flex-direction: column;
//       p {
//         letter-spacing: 5px;
//         margin-bottom: 0px;
//         color: v.$gray;
//       }
//       .name {
//         font-size: 1.75rem;
//       }
//       .realtor {
//         font-size: 1.25rem;
//       }
//     }
//     .info-section {
//       @include m.flex-center;
//       flex-direction: column;
//       margin-top: 150px;
//       @include m.mobile {
//         margin-top: 90px;
//       }
//       p,a {
//         font-family: v.$effra;
//         margin: 5px;
//         color: v.$gray;
//       }
//     }
//   }
//   .right-pane {
//     @include m.mobile {
//       width: 100vw;
//       img {
//         object-fit:contain;
//         object-position:center;
//         width: 100vw;
//         height: 100vh;
//       }
//     }
//     width: 50vw;
//     // height: calc(100vh - 64px);
//     height: 100vh;
//     img {
//       height: 100vh;
//     }
//     background-color: v.$black;
//   }
// }