.logo {
    height: 150px;
    padding:20px 50px;
}

.navbar {
    align-items: center;
    justify-content: start;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}